h4 {
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-style: Georgia;
}

p {
  text-align: center;
  font-style: Georgia
}

.newupdate {
  margin: 12px;
  border: 2px solid #A9A9A9;
  padding: 4px;
  background-color: #FFF;
}

.epicodus-logo {
  float: left;
  width: 150px;
  padding: 10px;
}

.end {
  text-align: center;
  padding-bottom: 30px;
}
